 # Assignment of Datanstats

In [161]:
# install webscraping liabrary
!pip install selenium
!pip install bs4
!pip install requests

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: bs4 in c:\users\hp\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\hp\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\hp\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2020.12.5)

In [162]:
# import all required tools
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument('--incognito')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException,InvalidArgumentException,InvalidCookieDomainException

# 1. Create a scraper for flipkart that will scrape data for search results  (atleast up to page 2 if available). For example: search for “mobile” keyword on flipkart and scrape the following parameters from the search results.
### Title
### Ratings
### Price
### URL of that item

In [209]:
# calling webdriver
scraper = webdriver.Chrome(r"C:\Users\hp\OneDrive\Desktop\chromedriver.exe")

In [210]:
#specifying the url of the webpage to be scraped
url=" https://www.flipkart.com/"

In [211]:
# get url 
scraper.get(url)
time.sleep(5)

In [213]:
#interacting with the webpage
scraper.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys("mobile")
scraper.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [214]:
#creating the empty lists
Title=[]
Rating=[]
Price=[]

In [215]:
URL=[]
for i in range(0,3):
    mobile=scraper.find_elements_by_xpath("//a[@class='_1fQZEK']")
    for i in mobile:
        URL.append(i.get_attribute('href'))
   # scarper.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()
    time.sleep(3)

In [216]:
list_of_url=URL

In [217]:
# check no. of url
len(list_of_url)

72

In [218]:
#going to the url of first sunglasses through our driver
scraper.get(list_of_url[0])

In [219]:
#running a loop to extract all the required information from the list_of_url

from tqdm import tqdm
for i in tqdm(list_of_url):
    scraper.get(i)
    try:
        title=scraper.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/h1/span").text
        Title.append(title)
        
        rating=scraper.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div[6]/div/div[2]/div/div/div[1]/div/div[1]/div/div[1]").text
        Rating.append(rating)
        
        price=scraper.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div[3]/div[1]/div/div').text
        Price.append(price)
       
    except NoSuchElementException:
        Title.append("Null")
        Rating.append("Null")
        Price.append("Null")

100%|██████████████████████████████████████████████████████████████████████████████████| 72/72 [04:09<00:00,  3.47s/it]

In [220]:
print(len(Title),len(Price),len(Rating),len(URL))

134 72 83 72

In [221]:
# create mobile dataframe
Mobiles=pd.DataFrame({})
Mobiles['Title']=Title[:72]
Mobiles['Rating']=Rating[:72]
Mobiles['Price']=Price[:72]
Mobiles['URL']=URL[:72]

In [222]:
Mobiles

,Title,Rating,Price,URL
0,GREENBERRI FOLD (Red),4.6,"₹1,499",https://www.flipkart.com/greenberri-fold/p/itm...
1,GREENBERRI VIRAT (BLACK & GOLD),Null,Null,https://www.flipkart.com/greenberri-virat/p/it...
2,Null,"₹7,499₹7,9996% off","₹7,499",https://www.flipkart.com/realme-c11-2021-cool-...
3,"realme C11 2021 (Cool Blue, 32 GB) (2 GB RAM)",Null,Null,https://www.flipkart.com/realme-c11-2021-cool-...
4,"realme C11 2021 (Cool Grey, 32 GB) (2 GB RAM)",Null,Null,https://www.flipkart.com/realme-c11-2021-cool-...
...,...,...,...,...
67,Null,"₹8,499₹11,99929% off",Null,https://www.flipkart.com/realme-9-sunburst-gol...
68,"realme Narzo 50i (Carbon Black, 32 GB) (2 GB ...",Null,Null,https://www.flipkart.com/realme-narzo-50i-mint...
69,Null,"₹14,999₹21,99931% off",Null,https://www.flipkart.com/realme-9i-prism-black...
70,"MOTOROLA G60 (Soft Silver, 128 GB) (6 GB RAM)",Null,Null,https://www.flipkart.com/realme-9i-prism-blue-...
71,Null,Null,Null,https://www.flipkart.com/realme-c35-glowing-bl...

In [223]:
# convert dataframe into csv mode
Mobiles.to_csv('Mobiles.csv')

# 2. Write a Python program to find the current weather report (temperature, wind speed, description and weather) of a given city

In [163]:
# calling webdriver
scraper = webdriver.Chrome(r"C:\Users\hp\OneDrive\Desktop\chromedriver.exe")

In [164]:
# geting link
url='https://www.accuweather.com/en/in/delhi/202396/weather-forecast/202396'

In [165]:
scraper.get(url)

In [166]:
# searching for temprature
temprature=scraper.find_element_by_xpath('/html/body/div/div[5]/div[1]/div[1]/a[1]/div[1]/div[1]/div/div/div[1]')
Temprature=temprature.text
Temprature

'29°C'

In [168]:
# searching for wind speed
wind_speed=scraper.find_element_by_xpath('/html/body/div/div[5]/div[1]/div[1]/div[2]/div[3]/div[1]/div[1]/div[2]')
Wind_Speed=wind_speed.text
Wind_Speed

'SE 13 km/h'

In [170]:
# searching for description
description=scraper.find_element_by_xpath('/html/body/div/div[5]/div[1]/div[1]/div[1]/div/div[2]/div[2]/h3/p[2]')
Description=description.text
Description

'Health effects can be immediately felt by sensitive groups. Healthy individuals may experience difficulty breathing and throat irritation with prolonged exposure. Limit outdoor activity.'

In [171]:
weather=scraper.find_element_by_xpath('/html/body/div/div[5]/div[1]/div[1]/a[1]/div[2]/span[1]')
Weather=weather.text
Weather

'Clear'

In [172]:
print('Temprature---->',Temprature)
print('Wind_Speed---->',Wind_Speed)
print('Descriptoin---->',Description)
print('Weather---->',Weather)

Temprature----> 29°C
Wind_Speed----> SE 13 km/h
Descriptoin----> Health effects can be immediately felt by sensitive groups. Healthy individuals may experience difficulty breathing and throat irritation with prolonged exposure. Limit outdoor activity.
Weather----> Clear

# 3. Write a Python program to download IMDB's top 50 data (movie name, Initial release, director name and stars)

In [173]:
# geting link
link='https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
page=requests.get(link).text

In [174]:
scraper=BeautifulSoup(page,'html.parser')

In [175]:
movie_data=scraper.findAll('div',class_='lister-item-content')

In [176]:
Movie_name=[]
Initial_release=[]
Crew=[]


for data in movie_data:
    name=data.h3.a.text
    Movie_name.append(name)
    
    year_of_release = data.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    Initial_release.append(year_of_release)
    
    crew=data.find('p',class_='').text.replace('\n','').split()
    Crew.append(crew)

In [177]:
Top_50_movie=pd.DataFrame({})
Top_50_movie['Movie_Name']=Movie_name
Top_50_movie['Initial_release']=Initial_release
Top_50_movie['Crew']=Crew

In [178]:
TOP50=Top_50_movie[:50]

In [179]:
TOP50

,Movie_Name,Initial_release,Crew
0,The Shawshank Redemption,1994,"[Director:Frank, Darabont|, Stars:Tim, Robbins..."
1,The Godfather,1972,"[Director:Francis, Ford, Coppola|, Stars:Marlo..."
2,The Dark Knight,2008,"[Director:Christopher, Nolan|, Stars:Christian..."
3,The Lord of the Rings: The Return of the King,2003,"[Director:Peter, Jackson|, Stars:Elijah, Wood,..."
4,Schindler's List,1993,"[Director:Steven, Spielberg|, Stars:Liam, Nees..."
5,The Godfather: Part II,1974,"[Director:Francis, Ford, Coppola|, Stars:Al, P..."
6,12 Angry Men,1957,"[Director:Sidney, Lumet|, Stars:Henry, Fonda,,..."
7,Pulp Fiction,1994,"[Director:Quentin, Tarantino|, Stars:John, Tra..."
8,Everything Everywhere All at Once,2022,"[Directors:Dan, Kwan,, Daniel, Scheinert|, Sta..."
9,Inception,2010,"[Director:Christopher, Nolan|, Stars:Leonardo,..."
10,The Lord of the Rings: The Two Towers,2002,"[Director:Peter, Jackson|, Stars:Elijah, Wood,..."
11,Fight Club,1999,"[Director:David, Fincher|, Stars:Brad, Pitt,, ..."
12,The Lord of the Rings: The Fellowship of the Ring,2001,"[Director:Peter, Jackson|, Stars:Elijah, Wood,..."
13,Forrest Gump,1994,"[Director:Robert, Zemeckis|, Stars:Tom, Hanks,..."
14,"Il buono, il brutto, il cattivo",1966,"[Director:Sergio, Leone|, Stars:Clint, Eastwoo..."
15,The Matrix,1999,"[Directors:Lana, Wachowski,, Lilly, Wachowski|..."
16,Goodfellas,1990,"[Director:Martin, Scorsese|, Stars:Robert, De,..."
17,The Empire Strikes Back,1980,"[Director:Irvin, Kershner|, Stars:Mark, Hamill..."
18,One Flew Over the Cuckoo's Nest,1975,"[Director:Milos, Forman|, Stars:Jack, Nicholso..."
19,Interstellar,2014,"[Director:Christopher, Nolan|, Stars:Matthew, ..."
20,Cidade de Deus,2002,"[Directors:Fernando, Meirelles,, Kátia, Lund|,..."
21,Sen to Chihiro no kamikakushi,2001,"[Director:Hayao, Miyazaki|, Stars:Daveigh, Cha..."
22,Saving Private Ryan,1998,"[Director:Steven, Spielberg|, Stars:Tom, Hanks..."
23,The Green Mile,1999,"[Director:Frank, Darabont|, Stars:Tom, Hanks,,..."
24,La vita è bella,1997,"[Director:Roberto, Benigni|, Stars:Roberto, Be..."
25,Se7en,1995,"[Director:David, Fincher|, Stars:Morgan, Freem..."
26,Terminator 2: Judgment Day,1991,"[Director:James, Cameron|, Stars:Arnold, Schwa..."
27,The Silence of the Lambs,1991,"[Director:Jonathan, Demme|, Stars:Jodie, Foste..."
28,Star Wars,1977,"[Director:George, Lucas|, Stars:Mark, Hamill,,..."
29,Seppuku,1962,"[Director:Masaki, Kobayashi|, Stars:Tatsuya, N..."
30,Shichinin no samurai,1954,"[Director:Akira, Kurosawa|, Stars:Toshirô, Mif..."
31,It's a Wonderful Life,1946,"[Director:Frank, Capra|, Stars:James, Stewart,..."
32,Gisaengchung,2019,"[Director:Bong, Joon, Ho|, Stars:Kang-ho, Song..."
33,Whiplash,2014,"[Director:Damien, Chazelle|, Stars:Miles, Tell..."
34,The Intouchables,2011,"[Directors:Olivier, Nakache,, Éric, Toledano|,..."
35,The Prestige,2006,"[Director:Christopher, Nolan|, Stars:Christian..."
36,The Departed,2006,"[Director:Martin, Scorsese|, Stars:Leonardo, D..."
37,The Pianist,2002,"[Director:Roman, Polanski|, Stars:Adrien, Brod..."
38,Gladiator,2000,"[Director:Ridley, Scott|, Stars:Russell, Crowe..."
39,American History X,1998,"[Director:Tony, Kaye|, Stars:Edward, Norton,, ..."
40,The Usual Suspects,1995,"[Director:Bryan, Singer|, Stars:Kevin, Spacey,..."
41,Léon,1994,"[Director:Luc, Besson|, Stars:Jean, Reno,, Gar..."
42,The Lion King,1994,"[Directors:Roger, Allers,, Rob, Minkoff|, Star..."
43,Nuovo Cinema Paradiso,1988,"[Director:Giuseppe, Tornatore|, Stars:Philippe..."
44,Hotaru no haka,1988,"[Director:Isao, Takahata|, Stars:Tsutomu, Tats..."
45,Back to the Future,1985,"[Director:Robert, Zemeckis|, Stars:Michael, J...."
46,Apocalypse Now,1979,"[Director:Francis, Ford, Coppola|, Stars:Marti..."
47,Alien,1979,"[Director:Ridley, Scott|, Stars:Sigourney, Wea..."
48,Once Upon a Time in the West,1968,"[Director:Sergio, Leone|, Stars:Henry, Fonda,,..."
49,Psycho,1960,"[Director:Alfred, Hitchcock|, Stars:Anthony, P..."

In [181]:
# convert dataframe into csv mode
TOP50.to_csv('top50.csv')

# 4. Write a program to scrape all the URLs available on the Wikipedia page of any searched keyword.

In [182]:
url='https://www.wikipedia.org/'
page=requests.get(url).text

In [136]:
soup=BeautifulSoup(page,'html.parser')

In [137]:
Url=[]
for link in soup.findAll('a'):
    Url.append(link.get('href'))

In [146]:
URLs=pd.DataFrame({})
URLs['URL']=Url

In [147]:
URLs

                                                 URL
0                                //en.wikipedia.org/
1                                //ja.wikipedia.org/
2                                //ru.wikipedia.org/
3                                //es.wikipedia.org/
4                                //de.wikipedia.org/
..                                               ...
322                         //species.wikimedia.org/
323                            //meta.wikimedia.org/
324  https://creativecommons.org/licenses/by-sa/3.0/
325     https://meta.wikimedia.org/wiki/Terms_of_use
326   https://meta.wikimedia.org/wiki/Privacy_policy

[327 rows x 1 columns]

In [183]:
# convert dataframe into csv mode
URLs.to_csv('URLs.csv')